/*Background colors to be used in details.php for game's score*/
.high-score {
    background-color: #2CB569;
}

.mid-score {
    background-color: #EAD94C;
}

.low-score {
    background-color: #F50041;
}